* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 2%;
  right: 1%;
}

.circle2 {
  bottom: 2%;
  left: 1%;
}

.dashboard img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

.links h2 {
  font-size: 1.1rem;
  padding: 0rem 1rem;
  font-family: "Poppins", sans-serif;
  color: #426696;
  font-weight: 600;
}

.tabcontent {
  flex: 4;
}
.chat-box h3 {
  text-align: center;
}
.links {
  display: flex;
  margin: 0.5rem 0rem;
  padding: 0.5rem 2rem;
  align-items: center;
  text-align: center;
  color: #658ec6;
  opacity: 0.8;
}

.links a {
  text-decoration: none;
  display: flex;
  color: #658ec6;
}

.logout {
  display: block;
  margin: 3rem 0rem;
  padding: 2rem 2rem;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 10%;
  color: white;
}

button {
  border: none;
  background: none;
}

/* message part*/
p {
  margin: 0;
  padding: 0;
}
#Chat {
}
.chat-main {
  display: flex;
  height: 100%;
}
.list-conversation {
  padding-top: 15px;
  max-width: 285px;
  min-width: 285px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.list-conversation .search-bar {
  background-color: white;
  border-radius: 20px;
  opacity: 0.9;
  padding: 0px 7px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.list-conversation .search-bar > input {
  outline: none;
  padding: 5px 7px;
  padding-left: 3px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 15px;
  width: 220px;
}
.list-conversation .search-bar > i:first-child {
  opacity: 0.6;
}
.list-conversation .search-bar > i:last-child {
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #11b899;
}
.list-conversation .search-bar > i:last-child:hover {
  background-color: #34b19a;
  transition: all 0.7s;
  color: white;
}
.list-conversation .search-bar > input::placeholder {
  opacity: 0.7;
}
.list-conversation .conversations {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.list-conversation .conversations .conversations__title {
  color: black;
  margin: 0px 10px;
  border-top: 0.5px solid #80ebd7;
  opacity: 0.6;
  display: flex;
  align-items: center;
}
.list-conversation .conversations .conversations__title > span {
  padding-right: 5px;
}
.list-conversation .conversations .conversations__title > span:hover,
i {
  cursor: pointer;
  opacity: 0.8;
}
.list-conversation .conversations .conversations__main {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}
/* width */
.list-conversation .conversations .conversations__main::-webkit-scrollbar {
  width: 5px;
  display: block;
}
/* Track */
.list-conversation
  .conversations
  .conversations__main::-webkit-scrollbar-track {
  background: rgb(188, 239, 242);
  border-radius: 2.5px;
}

/* Handle */
.list-conversation
  .conversations
  .conversations__main::-webkit-scrollbar-thumb {
  background: rgb(95, 220, 226);
  border-radius: 2.5px;
}

/* Handle on hover */
.list-conversation
  .conversations
  .conversations__main::-webkit-scrollbar-thumb:hover {
  overflow: auto;
  background: rgb(65, 175, 180);
}
.list-conversation .conversations .conversations__main .conversation-item {
  display: flex;
  padding: 7px 10px;
}
.list-conversation
  .conversations
  .conversations__main
  .conversation-item:hover {
  background-image: linear-gradient(to right top, #70e7d1, #6cdbeb);
  cursor: pointer;
}
.conversation-item .conversation-item__avatar,
.info > .conversation-item__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.conversation-item__avatar-group {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.conversation-item__avatar-group > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.conversation-item__avatar-group > .total-member {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #65dfc9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
}
.conversation-item .conversation-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 10px;
  flex: 1;
  overflow: hidden;
}
.conversation-item .conversation-item__content > .title {
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conversation-item .conversation-item__content > .content {
  font-weight: 450;
  font-size: 14px;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 165.8px;
}
.conversation-item .conversation-item__time {
  font-size: 13px;
  opacity: 0.8;
  transform: translateY(4px);
  text-align: right;
}

.chat-area {
  border-left: 0.5px solid #80ebd7;
  width: 100%;
  height: 100%;
}
/* chat intro */
.chat-area__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.chat-area__intro > .title {
  margin: 20px 0px;
  text-align: center;
  font-size: 24px;
}
.chat-area__intro > .content {
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 50px;
}
.chat-area__intro .slider-bar {
  overflow: hidden;
  max-width: 350px;
}
.chat-area__intro .slider-bar .slider-bar__slides {
  display: flex;
  position: relative;
}
.slider-bar .slider-bar__slides > .slide {
  text-align: center;
  transition: all 1s;
}
.slider-bar .slider-bar__slides > .slide > img {
  width: 350px;
}
.slider-bar .slider-bar__slides > .slide > .title {
  margin: 10px 0px;
  color: #033f34;
  font-weight: 600;
  font-size: 18px;
}
.slider-bar .slider-bar__slides > input[name="slidebar"] {
  display: none;
}
.slider-bar .slider-bar__slides > input[value="1"]:checked ~ .slide {
}
.slider-bar .slider-bar__slides > input[value="2"]:checked ~ .slide {
  transform: translateX(-100%);
}
.slider-bar .slider-bar__slides > input[value="3"]:checked ~ .slide {
  transform: translateX(-200%);
}
.slider-bar .slider-bar__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.slider-bar .slider-bar__control > label {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  border: 1px solid #34b19a;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
}
.slider-bar .slider-bar__slides .slider-bar__control0 {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0px;
  left: 0px;
  bottom: -23px;
}
.slider-bar .slider-bar__slides .slider-bar__control0 > span {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0px 7px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s;
}
.slider-bar
  .slider-bar__slides
  > input[value="1"]:checked
  ~ .slider-bar__control0
  > span:nth-child(1) {
  background-color: #34b19a;
}
.slider-bar
  .slider-bar__slides
  > input[value="2"]:checked
  ~ .slider-bar__control0
  > span:nth-child(2) {
  background-color: #34b19a;
}
.slider-bar
  .slider-bar__slides
  > input[value="3"]:checked
  ~ .slider-bar__control0
  > span:nth-child(3) {
  background-color: #34b19a;
}
/* chat */
.chat-area__main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-area__main .partner-info {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 40px 0px #80ebd7;
  border-top-right-radius: 1rem;
}
.chat-area__main .partner-info .info {
  display: flex;
  position: relative;
}
.chat-area__main .partner-info .info > *:first-child {
  margin: 10px;
}
.chat-area__main .partner-info .info .info__status {
  width: 14px;
  height: 14px;
  padding: 2px;
  border-radius: 50%;
  background-color: rgb(188, 239, 242);
  position: absolute;
  bottom: 9px;
  left: 45px;
}
.chat-area__main .partner-info .info .info__status > span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00a170;
}
.chat-area__main .partner-info .info .info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  max-width: 450px;
  overflow: hidden;
}
.chat-area__main .partner-info .info .info__content > .name {
  font-size: 18px;
  font-weight: 550;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chat-area__main .partner-info .info .info__content > .time {
  font-size: 14px;
  opacity: 0.7;
}
.chat-area__main .partner-info .tool-bar {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  flex: 1;
  justify-content: flex-end;
}
.chat-area__main .partner-info .tool-bar > i {
  margin: 0px 3px;
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
  color: #11b899;
}
.chat-area__main .partner-info .tool-bar > i:hover {
  background-color: #34b19a;
  color: white;
  transition: all 0.7s;
}
.chat-area__main .area-message {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

/* width */
.chat-area__main .area-message::-webkit-scrollbar {
  width: 5px;
  display: block;
}
/* Track */
.chat-area__main .area-message::-webkit-scrollbar-track {
  background: rgb(188, 239, 242);
  border-radius: 2.5px;
}

/* Handle */
.chat-area__main .area-message::-webkit-scrollbar-thumb {
  background: rgb(95, 220, 226);
  border-radius: 2.5px;
}

/* Handle on hover */
.chat-area__main .area-message::-webkit-scrollbar-thumb:hover {
  overflow: auto;
  background: rgb(65, 175, 180);
}

.chat-area__main .area-message .area-message__viewImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-area__main .area-message .area-message__viewImage::after {
  content: "";
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}
.chat-area__main .area-message .area-message__viewImage > img {
  max-width: 90%;
  max-height: 90%;
  z-index: 1000;
}
.chat-area__main .area-message .area-message__viewImage > i {
  position: absolute;
  font-size: 50px;
  color: rgb(207, 207, 207);
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.chat-area__main .area-message .area-message__viewImage > i:hover {
  color: white;
  transition: color 0.3s;
}
.chat-area__main .area-message .area-message__timer {
  display: flex;
  align-items: center;
}
.chat-area__main .area-message .area-message__timer > .side {
  width: 100%;
  height: 1px;
  background-color: #65dfc9;
}
.chat-area__main .area-message .area-message__timer > .time {
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 20px;
  background-color: #65dfc9;
  opacity: 0.8;
}
.chat-area__main .area-message .area-message__message {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.chat-area__main .area-message .area-message__message:hover > .tool {
  display: block;
}
.chat-area__main .area-message .area-message__message > .tool {
  display: none;
  margin-right: 10px;
  position: relative;
}
.chat-area__main .area-message .area-message__message > .tool > .tool__btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.chat-area__main
  .area-message
  .area-message__message
  > .tool
  > .tool__btn:hover {
  background-color: #65dfc9;
  transition: all 0.2s;
}
.chat-area__main .area-message .area-message__message > .tool > .tool__btn > i {
  font-size: 14px;
}
.chat-area__main .area-message .area-message__message > .tool > .tool__menu {
  position: absolute;
  top: -55px;
  left: -63px;
  background-color: #a8ebec;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 5px 19px 1px #78ddcb;
  user-select: none;
}
.chat-area__main
  .area-message
  .area-message__message
  > .tool
  > .tool__menu
  > p:first-child {
  border-radius: 5px;
  padding: 2.5px 5px;
  cursor: pointer;
}
.chat-area__main
  .area-message
  .area-message__message
  > .tool
  > .tool__menu
  > p:hover {
  background-color: #7dcacb;
  color: white;
  transition: all 0.2s;
}
.chat-area__main
  .area-message
  .area-message__message
  > .tool
  > .tool__menu
  > i {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -36%);
  font-size: 24px;
  color: #6ecfbd;
}
.chat-area__main .area-message .area-message__message > .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 0px;
  align-self: flex-start;
}
.chat-area__main .area-message .area-message__message > .content {
  background-color: #65dfc9;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 500px;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__name {
  font-size: 14px;
  opacity: 0.8;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__message {
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__message--delete {
  font-style: italic;
  color: #3f9988;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__img {
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__img[src*="Icon.gif"] {
  width: 50px;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > img {
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > .content__download-name {
  flex: 1;
  align-self: flex-start;
  margin: 0px 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > .content__download-name
  > p:first-child {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > .content__download-name
  > p:last-child {
  font-size: 13px;
  color: white;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > a {
  color: #00a170;
  height: 28px;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > a
  > i {
  font-size: 28px;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__download
  > a
  > i:hover {
  color: white;
  transition: color 0.2s;
}
.chat-area__main
  .area-message
  .area-message__message
  > .content
  > .content__time {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 5px;
}
.chat-area__main .area-send {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 40px 0px #65d5c0;
}
.chat-area__main .area-send .area-send__toolbar {
  display: flex;
  padding: 3.5px 10px;
  border-bottom: 0.5px solid #60d4bf;
}
.chat-area__main .area-send .area-send__toolbar > i {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  color: #11b899;
  border-radius: calc(50%);
}
.chat-area__main .area-send .area-send__toolbar > i:hover {
  background-color: #34b19a;
  color: white;
  transition: all 0.1s;
}
.chat-area__main .area-send .area-send__fileView {
  display: flex;
}
.chat-area__main .area-send .area-send__fileView > .img {
  position: relative;
  margin: 10px 0px;
  margin-top: 20px;
}
.chat-area__main .area-send .area-send__fileView > .img:first-child {
  margin-left: 15px;
}
.chat-area__main .area-send .area-send__fileView > .img:last-child {
  margin-right: 15px;
}
.chat-area__main .area-send .area-send__fileView > .img:not(:last-child) {
  margin-right: 18px;
}
.chat-area__main .area-send .area-send__fileView > .img > img {
  width: 50px;
  height: 50px;
  padding-bottom: 2.5px;
  border-radius: 5px;
  background-color: #60d4bf;
}
.chat-area__main .area-send .area-send__fileView > .img > i {
  position: absolute;
  top: -11px;
  right: -11px;
  font-size: 23px;
  border-radius: 10px;
  opacity: 1;
  color: #198754;
}
.chat-area__main .area-send .area-send__fileView > .img > i:hover {
  color: white;
  transition: color 0.2s;
}
.chat-area__main .area-send .area-send__input {
  display: flex;
  align-items: center;
}
.chat-area__main .area-send .area-send__input > input {
  outline: none;
  padding: 7px 15px;
  border: none;
  width: 100%;
  background-color: transparent;
}
.chat-area__main .area-send .area-send__input > input::placeholder {
  opacity: 0.5;
}
.chat-area__main .area-send .area-send__input > .symbol-bar {
  display: flex;
  margin-right: 10px;
}
.chat-area__main .area-send .area-send__input > .symbol-bar > i {
  width: 30px;
  height: 30px;
  padding: 6px;
  font-size: 20px;
  color: #11b899;
  border-radius: calc(50%);
}
.chat-area__main .area-send .area-send__input > .symbol-bar > i:hover {
  background-color: #34b19a;
  color: white;
  transition: all 0.1s;
}
.chat-area__main .area-send .area-send__input > .symbol-bar > .send-icon {
  position: relative;
  z-index: 1500;
}
.chat-area__main
  .area-send
  .area-send__input
  > .symbol-bar
  > .send-icon:hover
  > .send-icon__menu {
  display: flex;
  transition: all 0.2s;
}
.chat-area__main
  .area-send
  .area-send__input
  > .symbol-bar
  > .send-icon
  > .send-icon__menu {
  position: absolute;
  top: -266px;
  left: -247px;
  background-color: white;
  display: none;
  flex-wrap: wrap;
  width: 270px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
.chat-area__main
  .area-send
  .area-send__input
  > .symbol-bar
  > .send-icon
  > .send-icon__menu
  > img {
  width: 50px;
  border-radius: 5px;
}
.chat-area__main
  .area-send
  .area-send__input
  > .symbol-bar
  > .send-icon
  > .send-icon__menu
  > img:hover {
  background-color: #15ddb8;
}
.chat-area__main .area-send .area-send__toolbar > .fast-menu {
  position: relative;
}
@keyframes ani {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.chat-area__main
  .area-send
  .area-send__toolbar
  > .fast-menu:hover
  > .fast-menu__main {
  display: flex;
  animation-name: ani;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.chat-area__main
  .area-send
  .area-send__toolbar
  > .fast-menu
  > .fast-menu__main {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #11b899;
  width: 200px;
  top: -100px;
  left: 6px;
  border-radius: 5px;
  transform-origin: 50% 100%;
}
.chat-area__main
  .area-send
  .area-send__toolbar
  > .fast-menu
  > .fast-menu__main
  > p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
}
.chat-area__main
  .area-send
  .area-send__toolbar
  > .fast-menu
  > .fast-menu__main
  > p:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.chat-area__main
  .area-send
  .area-send__toolbar
  > .fast-menu
  > .fast-menu__main
  > p:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.chat-area__main
  .area-send
  .area-send__toolbar
  > .fast-menu
  > .fast-menu__main
  > p:hover {
  background-color: #0b7562;
}
.group-create__form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-create__form::after {
  content: "";
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: 500;
}
.group-create__form form {
  min-height: 90%;
  background-color: white;
  z-index: 1000;
  border-radius: 5px;
  width: 450px;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.group-create__form form input[type="text"] {
  outline: none;
  border: none;
  width: 100%;
  padding-left: 0px;
}
.group-create__form form input::placeholder {
  opacity: 0.7;
}
.group-create__form form > .title {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(233 233 233);
  align-items: center;
}
.group-create__form form > .title > p {
  font-size: 18px;
  font-weight: bold;
}
.group-create__form form > .title > i {
  font-size: 20px;
  color: rgb(143, 143, 143);
}
.group-create__form form > .title > i:hover {
  color: #11b899;
  transition: all 0.2s;
}
.group-create__form form > .info {
  display: flex;
  padding: 10px 15px;
  margin-top: 10px;
}
.group-create__form form > .info > input {
  padding-bottom: 5px;
  border-bottom: 1px solid #11b899;
}
.group-create__form form > .info > input::selection {
  background-color: black;
}
.group-create__form form > .add-people {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.group-create__form form > .add-people > p:first-child {
  font-size: 14px;
  margin-bottom: 5px;
}
.group-create__form form > .add-people > p:last-child {
  font-size: 15px;
  width: 60px;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color: #11b899;
  margin-top: 20px;
}
.group-create__form form > .add-people > input {
  padding-bottom: 5px;
  border-bottom: 1px solid #11b899;
}
.group-create__form form > .list-friend {
  color: black;
  margin: 0px 15px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.group-create__form form > .list-friend .list-friend__row {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.group-create__form
  form
  > .list-friend
  .list-friend__row
  > input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #11b899;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.group-create__form
  form
  > .list-friend
  .list-friend__row
  > input[type="checkbox"]:checked {
  background-color: #11b899;
}
.group-create__form form > .list-friend .list-friend__row > .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0px 10px;
}
.group-create__form form > .btns {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  border-top: 1px solid rgb(233 233 233);
  align-items: center;
  margin-top: 20px;
}
.group-create__form form > .btns > * {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.group-create__form form > .btns > p:first-child {
  background-color: rgb(206, 206, 206);
  color: black;
}
.group-create__form form > .btns > p:first-child:hover {
  background-color: rgb(197, 197, 197);
  transition: all 0.2s;
}
.group-create__form form > .btns > input[type="submit"] {
  background-color: #11b899;
  outline: none;
  border: none;
}
.group-create__form form > .btns > .disable {
  opacity: 0.5;
}
.group-create__form form > .btns > .disable:hover {
  background-color: #11b899 !important;
}
.group-create__form form > .btns > input[type="submit"]:hover {
  background-color: #0f8872;
  transition: all 0.2s;
}

/* friends area */
#Friends {
}

.friend-main {
  display: flex;
  height: 100%;
  width: 100%;
}

.friend-main .list-conversation .input-data {
  border: none;
  outline: none;
}

.conversations .contact-list-item .fr-conv-item-avt {
  margin: auto 14px auto 0;
  width: 52px;
  height: 52px;
  border-radius: 10%;
}

.contact-list-item {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.contact-list-item p {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.contact-list-item:hover {
  display: flex;
  bottom: auto;
  cursor: pointer;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
  color: black;
  transition: all 0.1s;
  border-radius: 10px;
}
.active {
  display: flex;
  bottom: auto;
  cursor: pointer;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
  color: black;
  transition: all 0.1s;
  border-radius: 10px;
}

.friend-add__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friend-add__list .fr-conv-item-avt {
  border-radius: 10%;
  width: 48px;
  height: 48px;
  margin-right: 11px;
  opacity: 0.5;
}

.friend-add__title {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 40px 0px #80ebd7;
  border-top-right-radius: 1rem;
}
.friend-add__title .tab-name {
  margin-top: 15px;
  text-align: center;
  font-weight: 600px;
  color: #658ec6;
}

.card-item {
  background-color: #65dfc9;
  height: 285px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-style: solid;
  border-color: #65dfc9;
  border-radius: 10px;
}

.card-item .avatar-img {
  margin-top: 3px;
  width: 50px;
  height: 150px;
  border-radius: 5rem;
}

.card-item__body .btn {
  margin-top: 30px;
  margin-left: 40px;
}

.card-item__body .card-title {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

/*area Add Friends */

.area-add {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
  max-height: 100%;
  max-width: 100%;
}

/* width */
.area-add::-webkit-scrollbar {
  width: 5px;
  display: flex;
  transform: translateY(-10px);
}
/* Track */
.area-add::-webkit-scrollbar-track {
  background: rgb(188, 239, 242);
  border-radius: 2.5px;
}

/* Handle */
.area-add::-webkit-scrollbar-thumb {
  background: rgb(95, 220, 226);
  border-radius: 2.5px;
}

/* Handle on hover */
.area-add::-webkit-scrollbar-thumb:hover {
  overflow: auto;
  background: rgb(65, 175, 180);
}

.user-card {
  height: 270px;
  max-width: 250px;
  border: 1px none;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
  display: flexbox;
  border-radius: 1rem;
  align-items: center;
  margin: 31.5px;
}

.user-card .user-avt {
  width: 250px;
  height: 166.84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-card .name-user {
  font-size: 17px;
  font-weight: 700;
  justify-content: center;
  color: #426696;
  margin-left: calc(100% - 180px);
}

.user-card .btn {
  margin-top: 20px;
  margin-left: calc(100% - 220px);
}

/* Search Filter */
.search-filter {
  width: 100%;
  height: 100%;
}

.search-filter .content {
  max-width: 100%;
  height: 100%;
  border-radius: 0 1rem 1rem 0rem;
  border-left: solid 1px #65dfc9;
}

.search-filter .content .main-filter {
  padding-top: 10px;
  overflow: auto;
  height: 765px;
  border-radius: 0 0 20px 20px;
}

.search-filter .content .main-filter::-webkit-scrollbar {
  width: 5px;
  display: flex;
  transform: translateY(-10px);
}
/* Track */
.search-filter .content .main-filter::-webkit-scrollbar-track {
  background: rgb(188, 239, 242);
  border-radius: 2.5px;
}

/* Handle */
.search-filter .content .main-filter::-webkit-scrollbar-thumb {
  background: rgb(95, 220, 226);
  border-radius: 2.5px;
}

/* Handle on hover */
.search-filter .content .main-filter::-webkit-scrollbar-thumb:hover {
  overflow: auto;
  background: rgb(65, 175, 180);
}

.search-filter .content h2 {
  color: #426696;
  padding-top: 10px;
  text-align: center;
}
.search-filter .content .main-filter .information-card {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
  width: 97%;
  height: 150px;
  margin: 1rem 1rem;
  border-radius: 1rem;
  padding-left: 20px;
  transition: 0.15s;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  cursor: pointer;
}

.search-filter .content .main-filter .information-card .friend-options {
  background-color: white;
  margin-left: 760px;
  height: 60px;
  width: 130px;
  border-radius: 1rem;
  color: #426696;
  transition: 0.2s;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  font-weight: 600;
  display: inset;
}

.search-filter .content .main-filter .information-card .friend-options span {
  padding-right: 7px;
  display: grid;
}

.search-filter .content .main-filter .information-card .friend-options:hover {
  background-color: #fff8f8;
}

.search-filter .content .main-filter .information-card .user-avt {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  box-shadow: -5px -5px 15px 0.5px rgba(122, 122, 122, 0.5);
}

.search-filter
  .content
  .main-filter
  .information-card
  .information-card__content {
  padding-left: 130px;
  margin-top: -70px;
}

.search-filter
  .content
  .main-filter
  .information-card
  .information-card__content
  .link-information {
  text-decoration: none;
  font-weight: 800;
  color: #426696;
  font-size: 20px;
}

.search-filter
  .content
  .main-filter
  .information-card
  .information-card__content
  .phone {
  font-weight: 600;
  color: #426696;
  font-size: 18px;
  width: 250px;
}

.search-filter .content .main-filter .information-card:hover {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
