:root{
    --bg1: #53065f;
    --bg2: #1e0aa1;
    --text: #26ade4;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
}

.container-profile{
display: flex;
justify-content: center;
align-items: top;
text-align: left;
width: 100%;
background: linear-gradient(to right bottom, var(--bg2), var(--bg1));


}

.f-title p{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 30px;
}
.f-title input{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 10px;
    background-color:rgba(0, 0, 0, .04);
    border-radius: 10px;
    color: rg(88, 88, 88);
    width: 78%;
}

.f-title{
    position: relative;
    width: 500px;
    background: #fff;
    box-shadow: 0 25px 50px rgba(0,0,0,0.15);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    

}

.f-title i {
    position: absolute;
    top: 20px;
    left: -15px;
    width: 530px;
    height: 50px;
    background: blueviolet;
    text-align: center;
    border-radius: 30px;
    border-bottom-left-radius: 0 ;

}

.f-title i::before{
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 35px;
    background: rgb(131, 43, 131);
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    z-index: 2;
    left: 0px;
}

.f-title i::after{
    content: '';
    position: absolute;
    top: 45px;
    width: 15px;
    height: 23px;
    background: blueviolet;
    z-index: 1;
    left: 0px;
}

.f-title h1{
    color: white;
    font-style: normal;
}

.f-title button {
    color: var(--bg2);
    background-color: white;
    height: 40px;
    width: 100px;
    border: none;
}
