body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/background.jpeg");
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section form{
    position: absolute;
    z-index: 1;
}